In [18]:
import pandas as pd
import numpy as np

import requests

In [3]:
df = pd.read_csv('data/archive.csv')

In [4]:
df.head()

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania)
0,1886,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1887,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1888,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1889,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1890,No Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.set_index('Year')['Punxsutawney Phil'].value_counts()

Punxsutawney Phil
Full Shadow       102
No Shadow          16
No Record          12
Partial Shadow      1
Name: count, dtype: int64

In [16]:
df.loc[df["Punxsutawney Phil"]=="Partial Shadow"]

,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania)
56,1942,Partial Shadow,30.74,20.1,29.7,23.2,41.31,35.7,44.1,37.8